th, td, tr {
    text-align: center !important;
}

#title_card {
    background-color: #40a0a0 !important;
    color:rgba(15, 26, 58, 0.938);
}

.card {
    background-color: white !important;
    border: none !important;
    box-shadow: 0 .2rem .4rem rgba(0,0,0,.15) !important;
}

.humeurs {
    background-color: #039292f1;
}
