<div class="logIn">
    <div class="container">
        <div class="row p-1 justify-content-around align-items-center">
            <div class="col-12 col-md-6 d-flex 
                justify-content-center align-items-center">
                <img src="assets/images/logIn.svg" class="img-fluid img_logIn" alt="log in">
            </div>
            <form class="col-12 col-md-5 cadreFormulaire" 
                [formGroup]="logInForm" (ngSubmit)="onSubmit()">
                <div class="fs-3 fw-bold d-flex border my-md-4 my-3 p-1 rounded shadow
                    justify-content-around align-items-center salutation">
                    <div class="">
                        Soyez le bienvenu
                        <span class="material-symbols-outlined">
                            waving_hand
                        </span>
                    </div>
                    <img src="assets/images/logo.png" class="img-fluid" 
                        width="50" alt="logo iTeam-$">
                </div>
                <div class="sous_titre my-3 d-flex 
                    justify-content-center align-items-center">
                    Alors, comment s'est passé votre journée ?
                    <span class="material-symbols-outlined">
                        mood
                    </span>
                </div>
                <div class="m-3 p-md-2"></div>

                <div class="mx-md-3 formInput">
                    <div class="input-group mb-3">
                        <span class="input-group-text fs-3 
                            material-symbols-outlined icone">
                            account_circle
                        </span>
                        <div class="form-floating">
                          <input type="text" class="form-control" id="identifiant" 
                            placeholder="Prenom usuel" formControlName="identifiant">
                          <label class="fw-bold" for="identifiant">Prenom usuel:</label>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text fs-3 
                            material-symbols-outlined icone">
                            key
                        </span>
                        <div class="form-floating">
                          <input [type]="inputTypePassword" class="form-control" id="password" 
                            placeholder="password" formControlName="password">
                          <label class="fw-bold" for="password">Mot de passe:</label>
                        </div>
                    </div>
                </div>

                <div class="m-2 p-md-1"></div>
                <div class="form-check form-switch ms-4">
                    <input class="form-check-input" type="checkbox" 
                        role="switch" id="showPassword"
                        (change)="onShowPassword($event)">
                    <label class="form-check-label fw-bold sous_titre" 
                        for="showPassword">{{ textShowPassword }} ...</label>
                </div>
                <div *ngIf="unauthorized" class="text-danger fw-bold
                    d-flex justify-content-center align-items-center">
                    <span class="material-symbols-outlined">
                        error
                    </span>
                    <span class="mx-2">{{ errorMessage }}</span>
                </div>
                <div class="m-2 p-md-3 p-1"></div>
                <div class="d-flex justify-content-center mb-3">
                    <button class="btn fw-bold w-50 d-flex 
                        align-items-center justify-content-center buttonSubmit" 
                        type="submit" [disabled]="logInForm.invalid">Se connecter
                        <span class="material-symbols-outlined">
                            touch_app
                        </span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
