.logIn {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    margin-top: 5%;
}

label {
    color: #008080;
}

.salutation {
    text-shadow: 3px 3px 10px #008080;
    color: rgba(15, 26, 58, 0.938);
    background-color: rgba($color: #008080, $alpha: .7);
    img {
        text-shadow: 3px 3px 10px #008080;
    }
}

.buttonSubmit {
    background-color: rgba($color: #008080, $alpha: .9);
    color: white;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
    transition: all .5s;
    span {
        display: none;
    }
    &:hover {
        border: 1px solid rgba($color: #008080, $alpha: .75);
        color: rgba(15, 26, 58, 0.938);
        background-color: rgba($color: #008080, $alpha: .8);
        span {
            display: block;
        }
    }
}

.cadreFormulaire {
    border-radius: 3%;
    border: 1px solid rgba($color: #e6e4e4, $alpha: 1.0);
}

input[type="checkbox"] {
    cursor: pointer;
}
