/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: 'Source Sans Pro';
    src: url('assets/fonts/SourceSansPro-Regular.ttf');
}

*, *::after, *::before {
    margin: 0%;
    padding: 0%;
}

body {
    font-family: 'Source Sans Pro';
    box-sizing: border-box;
    background-color: white;
    app-root {
        height: 100vh !important;
    }
    color: rgba(15, 26, 58, 0.938) !important;
}
