<div class="container">
    <div class="my-md-4 py-md-3"></div>
    <div class="row justify-content-center align-items-center p-2 border 
    rounded-2">
        <div class="col-12 col-md-6 px-3">
            <div class="fw-bold text-center" id="titre_home">iTeam-$ ~ Niko</div>
            <div class="my-2"></div>
            <figure class="text-start">
                <blockquote class="blockquote">
                  <p id="citation">La passion et les rêves sont comme le temps, 
                    rien ne peut les arrêter, et il en sera ainsi tant qu'il y aura des hommes près 
                    à donner un sens au mot <strong>"liberté"</strong>.</p>
                </blockquote>
                <figcaption class="blockquote-footer text-end my-2">
                    "Futur will be better, when we build it together..."
                     <cite title="Source Title">iTeam-$</cite>
                </figcaption>
            </figure>
        </div>
        <div class="col-12 col-md-5">
            <img src="assets/images/home.png" class="img-fluid">
        </div>
    </div>
</div>
